.matchRow {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.matchRow h2 {

    border: solid 2px black;
    width: 50%;
}

.matchRow--list {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.matchRow--info, .matchRow--item p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.matchRow--item {
    width: 60%;
    transform: scale(0.9);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.matchRow--item:hover {
    width: 60%;
    transform: scale(1);
}

