header {
    width: 100vw;
    height: 10vh;
    
}

.navigation {

    width: 100%;
    height: 100%;
    background-color: black;

    display: flex;
    justify-content: space-around;
    align-items: center;

    
}

#logoNBA {
    height: 60px;
    width: auto;
}

.navBar--games, .navBar--teams  {
    text-decoration: none;
}

p {
    color: white;
} 